<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" type="text/css" href="__ROOT__/assets/lib/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/assets/lib/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/assets/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/assets/lib/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/assets/lib/h-ui.admin/css/style.css" />
    <style>
        .Hui-iconfont{
            font-size: 15px;
        }
    </style>
    <title>教练列表</title>
</head>

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span
            class="c-gray en">&gt;</span> 教练列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
            href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a class="btn btn-primary radius" onclick="addCoach()" href="javascript:;">
                    <i class="Hui-iconfont">&#xe600;</i>
                    添加教练
                </a>
            </span>
            <span class="r">
                共有数据：<strong>{:count($coachList)}</strong>条
            </span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="20">教练ID</th>
                        <th width="50">教练名称</th>
                        <th width="50">教练性别</th>
                        <th width="50">手机号码</th>
                        <th width="50">教练生日</th>
                        <th width="80">微信认证信息</th>
                        <th width="80">认证时间</th>
                        <th width="80">认证名称</th>
                        <th width="30">教练状态</th>
                        <th width="20">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {if condition="count($coachList) == 0"}

                    {else /}
                    {foreach name="$coachList" key="k" item="v"}
                    <tr class="text-c">
                        <td>{$v.uid}</td>
                        <td>{$v.user_name}</td>
                        <td>
                            {if condition="$v.user_gender eq 0"}
                            女
                            {else/}
                            男
                            {/if}
                        </td>
                        <td>{$v.user_mobile}</td>
                        <td>{$v.user_birth}</td>
                        <td style="display: flex; flex-direction: column; line-height: 30px;">
                            {if condition="$v.user_avatar_url"}
                            <span>教练头像：<img width="50" height="50" style="border-radius: 50%;" src="{$v.user_avatar_url}"
                                    alt="微信头像"></span>
                            <span>教练昵称：{$v.user_nickname}</span>
                            <span>教练位置：{$v.user_country} {$v.user_province} {$v.user_city}</span>
                            {else/}
                            未认证
                            {/if}
                        </td>
                        <td>
                            {if condition="$v.auth_at"}
                            {:date('Y-m-d H:i:s', $v.auth_at)}
                            {else}
                            <span class="label label-defaunt radius">未认证</span>
                            {/if}
                        </td>
                        <td>{$v.auth_name}</td>
                        <td class="td-status">
                            {if condition="$v.status eq 1"}
                            <span class="label label-defaunt radius">未认证</span>
                            {elseif condition="$v.status eq 2"}
                            <span class="label label-success radius">已认证</span>
                            {/if}
                        </td>
                        <td class="td-manage">
                            <a style="text-decoration:none" class="ml-5" onclick="editCoach('{$v.uid}')" href="javascript:;"
                                title="编辑"><i class="Hui-iconfont">&#xe60c;</i>
                            </a>
                            <!-- <a style="text-decoration:none" class="ml-5" onclick="memCourse('{$v.uid}')" href="javascript:;"
                                title="课程详情"><i class="Hui-iconfont">&#xe687;</i>
                            </a> -->
                            <a style="text-decoration:none" class="ml-5" onclick="coachClock('{$v.uid}')" href="javascript:;"
                                title="打卡详情"><i class="Hui-iconfont">&#xe637;</i>
                            </a>
                            <a style="text-decoration:none" class="ml-5" onclick="delCoach(this,'{$v.uid}')" href="javascript:;"
                                title="删除"> <i class="Hui-iconfont">&#xe6e2;</i>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    {/if}
                </tbody>
            </table>
        </div>
    </div>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="__ROOT__/assets/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="__ROOT__/assets/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="__ROOT__/assets/lib/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="__ROOT__/assets/lib/h-ui.admin/js/H-ui.admin.js"></script>
    <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__ROOT__/assets/lib/datatables/1.10.16/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__ROOT__/assets/lib/laypage/laypage.js"></script>
    <script>
        /*教练添加*/
        function addCoach() {
            var index = layer.open({
                type: 2,
                title: '添加教练',
                content: 'coachadd',
                end: function () {
                    location.replace(location.href);
                }
            });
            layer.full(index);
        }
        /*教练编辑*/
        function editCoach(uid) {
            var index = layer.open({
                type: 2,
                title: '编辑教练信息',
                content: 'coachedit/uid/' + uid,
                end: function () {
                    location.replace(location.href);
                }
            });
            layer.full(index);
        }
        /*教练删除*/
        function delCoach(obj, id) {
            layer.confirm('确认要删除当前教练吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: 'delCoach',
                    data: { uid: id },
                    typeData: 'JSON',
                    success: function (res) {
                        if (res.code == 0) {
                            $(obj).parents("tr").remove();
                            layer.msg(res.msg, { icon: 6, time: 1300 });
                        } else {
                            layer.msg(res.msg, { icon: 5, time: 1300 });
                        }
                    },
                    error: function () {
                        layer.alert('请求失败!', { icon: 2 });
                    }
                });
            });
        }
        /*教练打卡详情*/
        function coachClock(uid) {
            var index = layer.open({
                type: 2,
                title: '教练打卡详情',
                content: 'coachclock/uid/' + uid,
                end: function () {
                    location.replace(location.href);
                }
            });
            layer.full(index);
        }
        $(function () {
            $('.table-sort').dataTable({
                language: {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "从当前数据中检索： ",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "aaSorting": [[0, "asc"]],//默认第几个排序
                "bStateSave": true,//状态保存
                "aoColumnDefs": [
                    { "orderable": false, "aTargets": [] }// 制定列不参与排序
                ]
            });
        });
    </script>
</body>

</html>