<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" type="text/css" href="__ROOT__/assets/lib/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/assets/lib/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/assets/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/assets/lib/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/assets/lib/h-ui.admin/css/style.css" />
    <link href="__ROOT__/assets/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />

    <title>添加Banner</title>
</head>

<body>
    <div class="page-container add">
        <form action="" method="post" class="form form-horizontal" id="add-banner-form">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">banner排序：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input style="width: 300px" type="number" max="100" min="0" maxlength="3" class="input-text" id="sort"
                        name="sort" placeholder="请输入banner排序0-100">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">是否跳转：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select name="is_nav" id="is_nav" onchange="changeNavState()" style="width: 300px; font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">
                        <option value="0">不跳转</option>
                        <option value="1">跳转</option>
                    </select>
                </div>
            </div>
            <div class="row cl" id="sortItem" style="display: none">
                <label class="form-label col-xs-4 col-sm-3">跳转文章：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select name="nav_id" id="nav_id" style="width: 300px; font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">
                        {volist name="$projectList" id="vol"}
                        <option value="{$vol.project_id}">{$vol.project_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">是否启用：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select name="is_show" id="is_show" style="width: 300px; font-size: 14px; height: 31px;line-height: 1.42857;padding: 4px;">
                        <option value="2">不启用</option>
                        <option value="1">启用</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">图片上传：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <span class="btn-upload">
                        <a href="javascript:void();" class="btn btn-primary radius btn-upload"><i class="Hui-iconfont">&#xe642;</i>
                            上传</a>
                        <input class="input-file" type="file" name="pic" id="pic" accept="image/gif,image/jpeg,image/x-png" />
                    </span>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <a onClick="addBannerRequest();" class="btn btn-primary radius" href="javascript:;"><i class="Hui-iconfont">&#xe632;</i>
                        保存并提交</a>
                    <button style="margin-left: 20px;" onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </div>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="__ROOT__/assets/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="__ROOT__/assets/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="__ROOT__/assets/lib/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="__ROOT__/assets/lib/h-ui.admin/js/H-ui.admin.js"></script>
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__ROOT__/assets/lib/laypage/laypage.js"></script>
    <script type="text/javascript" src="__ROOT__/assets/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="__ROOT__/assets/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="__ROOT__/assets/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript">
        // 改变跳转下拉框的选项
        function changeNavState() {
            if ($('#is_nav').val() == 0) {
                $('#sortItem').hide();
            } else {
                let projectLength = $('#sortItem').children.length;
                if (projectLength == 0) {
                    layer.msg('暂无可选项目', { icon: 2, time: 1300 });
                    $('#is_nav').val(0);
                } else {
                    $('#sortItem').show();
                }
            }
        }
        // 在键盘按下并释放及提交后验证提交表单
        $("#add-banner-form").validate({
            rules: {
                sort: {
                    required: true,
                    number: true,
                    maxlength: 3,
                    max: 100,
                    min: 0
                }
            },
            //错误提示信息
            messages: {
                sort: {
                    required: "请填写banner排序",
                    number: "排序必须为数字",
                    min: "最小排序值为0",
                    min: "最大排序值为100",
                }
            }
        })
        // 提交表单信息
        function addBannerRequest() {
            var flag = $("#add-banner-form").valid();
            if (!flag) {
                //没有通过验证
                layer.msg('表格信息不完整，请检查后重试！', { icon: 2, time: 1300 });
                return false;
            }
            layer.confirm('确认要提交吗？', function () {
                // 发送ajax    
                $.ajax({
                    type: 'POST',
                    url: 'addBanner',
                    dataType: 'json',
                    data: {
                        sort: $('#sort').val(),
                        navId: $('#nav_id').val(),
                        navType: $('#is_nav').val(),
                        active: $('#is_show').val()
                    },
                    success: function (res) {
                        if (res.code == 0) {
                            layer.msg(res.msg, { icon: 1, time: 1300 });
                            index = parent.layer.getFrameIndex(window.name);
                            setTimeout('parent.layer.close(index);', 1300);
                        } else {
                            layer.msg(res.msg, { icon: 2, time: 1300 });
                        }
                    },
                    error: function () {
                        layer.msg('错误，请稍后重试！', { icon: 2, time: 1300 });
                    },
                });
            });
        }
        // 上传单张图片
        $('#pic').change(function (event) {
            var formData = new FormData();
            formData.append("file", $(this).get(0).files[0]);
            $.ajax({
                url: 'uploadBanner',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,    //不可缺
                processData: false,    //不可缺
                success: function (res) {
                    if (res.code == 0) {
                        // 将图片展示出来
                        $('.btn-upload').remove();
                        $('.btn-upload').parent('div').append('<div class="upload_pic" style="margin-top: 10px;"><img src="../..' + res.data + '" alt="图片" width="200" height="100"></div>')
                        layer.msg(res.msg, { icon: 1, time: 1300 });
                    } else {
                        layer.msg(res.msg, { icon: 2, time: 1300 });
                    }
                },
                error: function (res) {
                    layer.msg('出错！请刷新！', { icon: 2, time: 1300 });
                }
            });
        });
    </script>
</body>

</html>